.container{display: inline-block;
    margin: 30px;
    border: solid 2px;

}
.reserch{
    display: inline-block;
    margin: 30px;
}
.all{
    border:solid 2px;
}
.image{
    display: inline-block;
}