body{
    background-color:rgb(193, 209, 232) ;
}
   
.container{display: inline-block;
    margin: 30px;
    border: solid 2px;

}
.reserch{
    display: inline-block;
    margin: 50px;
}
.all{
    border:solid 2px;
}
.action{
    display: inline-block;
    margin: 20px;
}
.action-2{
    display: inline-block;
    margin: 30px;
}
