div.all{
    background-color:rgb(193, 209, 232) ;
}
div.container{
    background-color: aliceblue;
    margin-top: 20px;
    margin-left: 40%;
}
div.action{
    background-color: aliceblue;
    border:solid 1px;
}
div.action-2{
    background-color: aliceblue;
    border:solid 1px;
}
   
.container{display: inline-block;
    margin: 30px;
    border: solid 2px;
    padding:0;

}
.reserch{
    display: inline-block;
    margin: 50px;
}
.all{
    border:solid 2px;
}
.action{
    display: inline-block;
    margin: 20px;
    
}
.action-2{
    display: inline-block;
    margin: 33px;
    margin: left 28px;
    border: width 28px;
    }
    .action-3{
        border: 2px;
    }
    .action-3{
        display: inline-block;
        margin: 25px;
        background-color: aliceblue;
    }
    div.action-3{
        border:solid 1px;
    }
   
